.allcont {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1f44d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menucont {

}

.notew{
    height: 26vh;
    width: 3vw;
    border: 2px;
    border-color: black;
    background-color: white;
}